<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Star Wars</title>

<link href="css/starwars.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>
<div id="templatemo_header_wrapper">

  <div id="templatemo_header">
    
   	<div id="site_logo"></div>
        
		<div id="templatemo_menu">
      		<div id="templatemo_menu_left"></div>
            <ul>
                  <li><a href="/home.html" >Home</a></li>
                  <li><a href="/likovi.html" >Likovi</a></li>
                  <li><a href="/filmovi.html">Filmovi</a></li>
                  <li><a href="#" class="current">Starships</a></li>
                  <li><a href="/" class="last">Odjavi se</a></li>
            </ul>    	
		</div> 
    
    </div>  
</div> 

<div id="templatemo_banner_wrapper">
	<div id="templatemo_banner">
    
    	<div id="templatemo_banner_image">
        	<div id="templatemo_banner_image_wrapper">
            	<img src="images/starwars.jpg" alt="image" />
            </div>
        </div>
        
        <div id="templatemo_banner_content">
        	<div class="header_01">ZVEZDANI BRODOVI</div>
			<p>Zbog greske u API-ju, dostupni su sledeci brojevi : </p>
			<p>[ 2 3 5 9 10 11 12 13 15 17 21 22 23 27 28 29 31 32 40 41 43 47 48 49 52 58 59 61 63 64 65 66 68 74 75 77 ]</p>
			<form method="post" action="/search-starship">
            <p><input type="text" name="search" /></p>
            <div class="button_01"><input type="submit" value="Prikazi"/></div>
			</form>
        </div>	
    
    	<div class="cleaner"></div>
    </div> 
</div>

<div id="templatemo_content_wrapper">
	<div id="templatemo_content">
    
    	<div id="column_w530">
        	
            <div class="header_02" id="title">Star Wars svijet</div>
            
			<table class="contenttable">
			<tr>
			<td><a id="link1" href="#" ><img id="slika1" src=""  /></a></td>
			<td style="margin-left: 20px"  >
				<section  class="naziv">Ime: </section>
				<section  class="ispodnaziva">Model: </section>
				<section >Proizvodjac: </section>
				<section >Cijena izgradnje (credits) : </section>
				<section >Duzina: </section>
				<section >Maksimalna brzina: </section>
				<section >Broj clanova posade: </section>
				<section >Broj putnika: </section>
				<section >Kapacitet skladista: </section>
				<section >Zaliha dovoljno za period: </section>
				<section >Hiperdrive rating: </section>
				<section >MGLT: </section>
				<section >Starship klasa: </section>
				<section >Kreiran: </section>
				<section >Editovan: </section>
			</td>	
			<td style="margin-left: 20px"  >
				<section id="ime1" class="naziv"></section>
				<section id="ispodimena1" class="ispodnaziva"></section>
				<section id="proizvodjac"></section>
				<section id="cijena"></section>
				<section id="duzina"></section>
				<section id="brzina"></section>
				<section id="posada"></section>
				<section id="putnici"></section>
				<section id="skladiste"></section>
				<section id="zalihe"></section>
				<section id="hiperdrive"></section>
				<section id="mglt"></section>
				<section id="klasa"></section>
				<section id="kreiran"></section>
				<section id="editovan"></section>
			</td>	
			</tr>
			</table>
            
            
            <div class="margin_bottom_20"></div>
            
            
            <div class="margin_bottom_20"></div>           
            
            
            
            <div class="cleaner"></div>
        </div>
        
        
    
    	<div class="cleaner"></div>
    </div> <!-- end of content wrapper -->
</div> <!-- end of content wrapper -->

<div id="templatemo_footer_wrapper">

	
        
        <div class="margin_bottom_20"></div>
         
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
    <!--  Free CSS Templates by TemplateMo.com  -->
</div> <!-- end of footer -->

</html>