<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Star Wars</title>

<link href="css/starwars.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>
<div id="templatemo_header_wrapper">

  <div id="templatemo_header">
    
   	<div id="site_logo"></div>
        
		<div id="templatemo_menu">
      		<div id="templatemo_menu_left"></div>
            <ul>
                  <li><a href="/home.html" >Home</a></li>
                  <li><a href="/likovi.html">Likovi</a></li>
                  <li><a href="#" class="current">Filmovi</a></li>
                  <li><a href="/brodovi.html">Starships</a></li>
                  <li><a href="/" class="last">Odjavi se</a></li>
            </ul>    	
		</div> 
    
    </div>  
</div> 

<div id="templatemo_banner_wrapper">
	<div id="templatemo_banner">
    
    	<div id="templatemo_banner_image">
        	<div id="templatemo_banner_image_wrapper">
            	<img src="images/starwars.jpg" alt="image" />
            </div>
        </div>
        
        <div id="templatemo_banner_content">
        	<div class="header_01">FILMOVI</div>
			<p>Informacije o Star Wars filmovima</p>
			<form method="post" action="/search-films">
			 <p><select  name="search">
				<option value="1">--- Izaberite film ---</option>
				<option id="film1" value="1">A New Hope</option>
				<option id="film2" value="2">The Empire Strikes Back</option>
				<option id="film3" value="3">Return of the Jedi</option>
				<option id="film4" value="4">The Phantom Menace</option>
				<option id="film5" value="5">Attack of the Clones</option>
				<option id="film6" value="6">Revenge of the Sith</option>
				<option id="film7" value="7">The Force Awakens</option>
			</select> </p> 			
            <div class="button_01"><input type="submit" value="Prikazi"/></div>
			</form>
        </div>	
    
    	<div class="cleaner"></div>
    </div> 
</div>

<div id="templatemo_content_wrapper">
	<div id="templatemo_content">
    
    	<div id="column_w530">
        	
            <div class="header_02">Star Wars svijet</div>
            
			<table class="contenttable">
			<tr>
			<td><a id="link1" href="#" ><img id="slika1" src="images/films/1"  /></a></td>
			<td style="margin-left: 20px"  >
				<section id="ime1" class="naziv"></section>
				<section id="uvod"></section>
				<section id="reziser"></section>
				<section id="producent"></section>
				<section id="premijera"></section>
			</td>	
			</tr>
			</table>
           
            <div class="cleaner"></div>
        </div>
        
        
    
    	<div class="cleaner"></div>
    </div> <!-- end of content wrapper -->
</div> <!-- end of content wrapper -->

<div id="templatemo_footer_wrapper">

	
        
        <div class="margin_bottom_20"></div>
         
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
    <!--  Free CSS Templates by TemplateMo.com  -->
</div> <!-- end of footer -->

</html>